<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NombreProyecto</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav>
            <div class="logo">Logo</div>
            <ul>
                <li><a href='@Url.Action("Deportes")'>Deporte</a></li>
                <li><a href='@Url.Action("Deportistas")'>Deportista</a></li>
                <li><a href='@Url.Action("Paises")'>Países</a></li>
                <li><a href='@Url.Action("AgregarDeportista")'>Agregar Deportista</a></li>
                <li><a href='@Url.Action("Creditos")'>Creditos</a></li>
            </ul>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>

    <footer>
               <div class="footer-content">
            <div class="footer-section about">
                <h2>Sobre Nosotros</h2>
                <p>Nos dedicamos a celebrar y promover el espíritu olímpico, brindando contenido de calidad sobre los Juegos Olímpicos y sus atletas.</p>
            </div>
            <div class="footer-section links">
                <h2>Enlaces Rápidos</h2>
                <ul>
                    <li><a href="#deporte">Deporte</a></li>
                    <li><a href="#deportista">Deportista</a></li>
                    <li><a href="#pais">País</a></li>
                    <li><a href="#agregar-deportista">Agregar Deportista</a></li>
                </ul>
            </div>
            <div class="footer-section contact">
                <h2>Contacto</h2>
                <p>Email: contacto@juegosolimpicos.com</p>
                <p>Teléfono: +1 234 567 890</p>
            </div>
        </div>
        <div class="footer-bottom">
            &copy; 2024 Juegos Olímpicos | Todos los derechos reservados
        </div>

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
